.container {
    display: flex;
}

.region {
    width: 50%;
    margin-right: 5px;
}

.city {
    width: 50%;
    margin-left: 5px;
    float: right;
}
.controlBlock{
    display: flex;
    font-size: 16px;
    margin: 5px auto;
    padding: 5px;
}
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid black;
    margin: 5px;
    max-height: 30px;
    font-family: Verdana;
}
table thead {
    border-collapse: collapse;
    border: 1px solid black;
}

table th:nth-child(1) {
    width: 15%;
}

table thead th:nth-child(2) {
    width: 10%;
}

table thead th:nth-child(3) {
    width: 75%;
}

table tbody tr:nth-child(even) {
    background: orangered;
}

table tbody tr:nth-child(odd) {
    background: darkgreen;
}

table td, table th {
    text-align: left;
    padding: 8px;
}

table tr {
    border-bottom: 1px solid black;
}

table tbody tr:hover {
    background: gainsboro !important;
}

.subTable tbody tr:nth-child(even){
    background: orange;
}

.subTable tbody tr:nth-child(odd){
    background: green;
}

.cityTable tbody tr:nth-child(even){
    background: yellow;
}

.cityTable tbody tr:nth-child(odd){
    background: yellowgreen;
}

.hidden {
    display: none;
}

.active {
    border: 5px solid red;
}

.subTable {
    width: 95%;
}
.controlBlock {
    display: flex;
}

#region {
    width: 35%;
    margin-right: 15%;
}
#city {
    width: 35%;
    margin-right: 5%;
}

.controlBlock input, .controlBlock select {
    border: 3px solid black;
    border-radius: 5px;
    background: yellowgreen;
}